.left {
    width: 50%;
    float: left;
    
}
.right {
    width: 40%;
    float: right;
}

h2 {
    width: 100%;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 18px;
    text-transform: uppercase;
}


.left > p ,
.right > p {
    font-size: 15px;
    color: #444c;
    line-height: 24px;
    margin-bottom: 20px;
}

    .left > p > a,
    .right > p > a {
    color: red;
    text-decoration: none;
    }

.right > .forma {
    width: 100%;
   
    /* background-color:red; */
}
.right > .forma > input {
    width: 45%;
    background-color: transparent;
    border: none;
    border-bottom: solid #555;
    color: #555;
    margin: 0 0 30px;
    font-size: 18px;
    line-height: 50px;
    
}
.right > .forma > input .left{
    display: inline;
    float: left;
}
.right > .forma > input .right{
        display: inline;
        float: right;
}          
.right > .forma > textarea {
    width: 100%;
    background-color: transparent;
    color: #555;
    border: none;
    font-size: 18px;
    line-height: 30px;
    border-bottom: solid #555;
}
.right > .forma > .btn {
    display: inline;
    float: right;
    margin: 50px 0 0;
    padding: 10px 20px;
    background-color: tomato;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0px 8px 8px black;
}