.progress-barr {
    width: 100%;
    
}
.progress-barr .text {
    width: 100%;
    margin-bottom: 20px;
}
    .progress-barr .text .label {
        color: #ccc;
        float: left;
    }
    .progress-barr .text .value {
        color: #ccc;
        float: right;
    }
    .progress-barr .progress {
        width: 100%;
        background-color: #ccc;
        height: 6px;
    }
        .progress-barr .progress .bar {
            width: 86%;
            height: 100%;
            background-color: transparent;
        }

        .progress-barr > .progress > .bar > .loading {
            width: 0%;
            height: 100%;
            /* animation-direction: ; */
            background-color: #03A9F5;
            animation: loading 2s linear 1s infinite normal forwards;
        }
        @keyframes loading {
            0% {
                width: 0;
                background-color: #03A9F5;
            }
            100% {
                width: 90%;
                background-color:#03A9F5;
            }
        }